.userHomePage {
    margin-top: 100px;
    margin-left: 230px;
    /* padding: 10px; */
}
.userHeader {
    width: 100%;
    height: 30px;
    background-color: rgb(240, 247, 247);
    
  }
.userContent {
    /* background-color: thistle; */
    /* display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: 33% 33% auto;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
      
}
/* #1, #2, #3, #4, #5, #6, #7, #8, #9  */
 .userContent > div {
    /* display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-around; */
 }
    /* display: grid;
    grid-template-columns: 33% 33% auto;
    grid-template-rows: 33% 33% auto;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center; */
    /* height: 600px;
    width: 700px; */
    /* This will display the contents of selected links */
    img {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 4px;  /* Rounded border */
      padding: 2px; /* Some padding */
      width: 300px; /* Set a small width */
      height: 250px;
      /* flex: 1; */
      
   }

/* Add a hover effect (blue shadow) */
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      
    }