*, *:before, *:after {
    box-sizing: border-box;
  }

  .board {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .board .row {
    -webkit-box-flex: 1;
            flex: 1;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .board .row .tile {
    top: 0;
    bottom: 0;
    -webkit-box-flex: 1;
            flex: 1;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 3.4vw ;
    /*font-size: calc(3.4vw + 3vh) ; trying this to change the font size*/
    font-family: impact;
    color: #ddd;
    background: -webkit-gradient(linear, right bottom, left top, from(#000088), to(#0000ff));
    background: linear-gradient(to top left, #000088, #0000ff);
    border: 3px solid #000;
  }
  .board .row .question-value {
    display: block;
  }
  .board .row .question {
    display: none;
  }
  .board .row .question-answer {
    display: none;
  }
  .board .row .tile.active {
    border-width: 0;
    font-size: 10vw;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
  }

  .board .row .tile.active .question-value {
    display: none;
  }

  .board .row .tile.active .question {
    display: block;
    font-family: verdana;
    font-size: 70px;
  }

  .board .row .tile.active .question-answer {
    display: none;
  }
  .answer-buttons {
      padding: 14px 18px;
      background-color: #677996;
      border: none;
      outline: none;
      border-radius: 3px;
      color: white;
      font-family: Arial;
      cursor: pointer;
  }
.ModalReveal {
      background-color: green;
      display:none;
}
/* Score card */
.teams {
  margin: auto;
  /* margin-left: 350px;
  margin-top: 580px; */
  height: 150px;
  width: 330px;
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: inherit;
}
#team1 {
    margin: auto;
    height: 200px;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    text-align: center;
}
#team2 {
    margin: auto;
    height: 200px;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    text-align: center;
}
#team3 {
    margin: auto;
    height: 200px;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    text-align: center;
}
.increment{
  margin-left: auto;
  margin-bottom: 2px;
  width: 25px;
  height: 25px;
  font-size: 20px;
}
.decrement{
  margin-right: auto;
  margin-bottom: 2px;
  width: 25px;
  height: 25px;
  font-size: 20px;

}
.score1{
  height: 50px;
}
.score2{
  height: 50px;
}
.score3{
  height: 50px;
}
