* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  left: 10px;
  text-align: center;
}

.isRed {
  margin: auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}


