.profilePage {
    margin-top: 100px;
    margin-left: 230px;
    /* padding: 10px; */
}
.profile {
    margin-top: 100px;
    margin-left: 230px;
    width: 500px;
    height: 300px;
    background-color: rgb(69, 141, 141);
    
  }
  .image1, .image2 {

  }