   /* Centering the modal is fairly simple if you use the CSS calc() function on the left CSS 
   property. Let's say that the modal has a width of 600px. You can use 50% of the screen width minus half of the width for the modal. 
   This example below has the modal at 600px so I have the calc() function at 50% - 300px */
   .popup-box {
      /* margin-top: 90px;
      margin-left: 230px; */
      padding: 10px;
      position: fixed;
      width: 800px;
      height: 600px;
      top: 15%;
      left: 24.5%;
      /* left: calc(50% - 400px); */
      
    }
     
    .box {
      
      margin-top: 5px;
      border-radius: 12px;
      height: 600px;
      width: 620px;
      display : flex;
      flex-direction: column;
      /* flex-wrap: wrap; */
      justify-content: flex-start;
      background-color: #fff;
      border: solid;
      border-color: #004d7a;
    }
     
    .close-icon {
      content: 'x';
      cursor: pointer;
      background: #ededed;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      border: 1px solid #999;
      font-size: 20px;
      float: right;
    }
   .imageContainer {
      border-radius: 5px;
   }
   .imageContainer img {
     width: 500px;
     height: 300px;
   }
   .btnContainer {
      margin-top: 0%;
      margin-left: 10px;
      height: 50px;
      width: 600px;
      display: grid;
      grid-template-columns: 180px 20% 20% 20% 20%;
      text-align: center;
      
   }
   .btnContainer button {
      width: auto;
      height: 40px;
      background-color: transparent;
      border: unset;
      font-size: 15px;
      
   }
   
   
   .commentsContainer{
      display: flex;
      flex-wrap: wrap;

   }
   #likedIcon {
      width: 40px;
      height: 40px;
   }
   .postingComment{

   }
   .btnPost{
      width: auto;
      height: 40px;
      background-color: transparent;
      border: unset
   }
   .btnDelete{
      width: auto;
      height: 40px;
      background-color: transparent;
      border: unset
   }
   .noBulletList {
         list-style-type: none;
         margin: 10px;
         padding: 10px;
         text-align: left;
         
       
   }