
.registerForm{
    height: auto;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    padding: 1em;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #004d7a 74%);
    flex-grow: 2;
    border-radius: 10px;
    margin: 0;
    margin: 10% auto;
    margin-left: auto;
    margin-right: auto;
}
#name, #email, #password, #registerButton {
  width: 220px;
  height: 20px;
  padding: 1em;
  align-content: space-around;
  justify-content: space-around;
  margin: 10px;
  align-items: center;
  }

  #registerButton {

    width: 250px;
    height: 50px;
    padding: 1em;
    background-color: rgb(243, 242, 248);
    font-size: 18px;
  
  }