.App {
  margin: auto;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.formContainer {
    background-color: rgb(126, 145, 158);
    /* display: block;
    text-align: center; */
    display:inline-block;
    border-radius: 10px;
    height: auto;
    padding: 15px 18px;
    margin: 10% auto;
    margin-left: auto;
    margin-right: auto;

}

.myForm {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
    background-color: rgb(126, 145, 158);
    padding: 1.2em;
  }
  .myForm > label  {
    grid-column: labels;
    grid-row: auto;
  }
  .myForm > input,
  .myForm > select,
  .myForm > button {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em;
    font-size: 15px;
  }
  .portal {
      margin: auto;
      height: 300px;
      width: 900px;
      border-radius: 10px;
      background-image: url("photo-books.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-family: 'Segoe UI';
      text-align: center;
      font-size: 20px;

  }
  .summaryContainer {
      margin: auto;
      height: 300px;
      width: 500px;
      border-radius: 10px;
      padding: 1em;
      background-image: url("photo-books.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-size: 20px;
  }
